<?xml version="1.0"?>

<web-app version="3.1" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee">

<display-name>Registrazione</display-name>


<context-param>

<param-name>dbUrl</param-name>

<param-value>jdbc:mysql://localhost:3306/db</param-value>

</context-param>


<context-param>

<param-name>dbUser</param-name>

<param-value>root</param-value>

</context-param>


<context-param>

<param-name>dbPassword</param-name>

<param-value>eattherude</param-value>

</context-param>


<context-param>

<param-name>dbDriver</param-name>

<param-value>com.mysql.jdbc.Driver</param-value>

</context-param>

</web-app>